# Xcode
DerivedData/
build/

# User settings
*.xcuserstate
*.xcworkspace
*.xcuserdata

# macOS
.DS_Store

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Logs
*.log